<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 UserRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.ssafy.ddudu.model.dao.UserDao">
	<select id="getUsers" parameterType="User">
		SELECT * FROM user
	</select>


	<insert id="insert"> INSERT INTO User (user_id, password, user_name,
		email, user_age, user_height, user_weight, user_area, profile) VALUES
		(#{userId},
		#{password}, #{userName}, #{email}, #{userAge}, #{userHeight}, #{userWeight},
		#{userArea}, #{profile})
	</insert>

	<select id="findByUserId" resultType="User">
		SELECT * FROM User WHERE
		user_id = #{userId}
	</select>
</mapper>