<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 UserRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.ssafy.ddudu.model.dao.UserDao">
	<select id="getUsers" parameterType="User">
		SELECT * FROM user
	</select>

	<insert id="insertUser"> INSERT INTO User (user_id, user_password, user_name,
		user_email, user_age, user_height, user_weight, user_area,
		user_profile) VALUES
		(#{userId},
		#{userPassword}, #{userName},
		#{userEmail}, #{userAge}, #{userHeight}, #{userWeight},
		#{userArea},
		#{userProfile})
	</insert>

	<select id="findByUserId" resultType="User">
		SELECT * FROM User WHERE
		user_id = #{userId}
	</select>

	<update id="updateUser">
		UPDATE user
		SET user_id=#{userId},
		user_password=#{userPassword}, user_name=#{userName},
		user_email=#{userEmail}, user_age=#{userAge},
		user_height=#{userHeight}, user_weight=#{userWeight},
		user_area=#{userArea}, user_profile=#{userProfile}
		WHERE user_id =
		#{userId}
	</update>

	<select id="selectOne">
		SELECT * FROM user
		WHERE user_id=#{userId}
	</select>

	<delete id="deleteUser">
		DELETE FROM user
		WHERE user_id=#{userId}
	</delete>

</mapper>