<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ddudu.model.dao.FollowDao">

	<select id="findFollowersByUserId" resultType="Follow">
		SELECT follower_id FROM Follow WHERE following_id = #{userId}
	</select>

	<select id="findFollowingsByUserId" resultType="Follow">
		SELECT following_id FROM Follow WHERE follower_id = #{userId}
	</select>

	<insert id="insertFollow" parameterType="Follow">
		INSERT INTO Follow (follower_id, following_id)
		VALUES (#{followerId}, #{followingId})
	</insert>

	<delete id="deleteFollow" parameterType="Follow">
		DELETE FROM Follow WHERE follower_id = #{followerId} AND following_id =
		#{followingId}
	</delete>

</mapper>